hw2/src/CMakeCache.txt
*.cmake
*.check_cache
hw2/src/CMakeFiles/CMakeOutput.log
hw2/src/CMakeFiles/Makefile2
*.marks
hw2/src/CMakeFiles/simulation.dir/build.make
*.make
hw2/src/CMakeFiles/2.8.12.2/CompilerIdC/a.out
*.out
hw2/src/CMakeFiles/2.8.12.2/CompilerIdC/CMakeCCompilerId.c
hw2/src/CMakeFiles/2.8.12.2/CMakeDetermineCompilerABI_C.bin
*.bin
hw2/src/CMakeFiles/2.8.12.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
hw2/src/CMakeFiles/TargetDirectories.txt
hw2/src/CMakeFiles/simulation.dir/link.txt
hw2/src/Makefile
*.o
hw2/src/CMakeFiles/simulation.dir/CXX.includecache
*.internal
*.cmake
hw2/src/cmake_install.cmake